 body{
    background:ghostwhite;
}
table {
    border: thin solid black;
}
td {
    border:thin solid black;
}
td.odd {
    background:PowderBlue;
}
td.even {
    background:ghostwhite;
}
#container{
    width:100%;
    clear:both;
}
.left{               
    float:left;
     width:30%;
     padding:1em;
}
.right{               
    float:left;
    border-left:solid black;                
}   
#prettyGoodComputerProgramEditor {
    position: relative;
    width: 20em;
    height: 27em;;
}
.prettyGoodComputer {
    margin:1em;
    float:left;
    clear:both;
    width:100%;
}
#prettyGoodComputerButtonBar {
    margin-top:.5em;
    margin-bottom:.5em;
}
#prettyGoodComputerSharingStation {
    display:none;
    background:white;
    padding:1em;
    width:22em;
    border:black solid;
    font-size:large;
}
#prettyGoodComputerMemory {
    margin-bottom:.5em;
}